* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 0.5rem;
    width: 100%;
    color: white;
    background-color: black;
}

#restaurant-menu {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}

#restaurant-menu img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
}

#restaurant-menu img:last-child {
    margin-right: 0;
}

#food-detail {
    position: relative;
    margin-bottom: 1rem;
}

.detail-image {
    height: 350px;
}

.name {
    position: absolute;
    left: 10px;
    padding: 0.25rem 5rem 0.25rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 60px;
}

form {
    display: flex;
}

#new-food {
    margin: 1rem 0;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
}

#add-to-cart-form {
    height: 30px;
    margin-top: 1rem;
}

form h4 {
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem 0;
    color: white;
    background-color: black;
}

#new-food input, #new-food textarea {
    font-size: 1rem;
    border: 1px solid black;
    background-color: white;
    padding: 0.5rem;
    margin: 0.25rem 0;
    width: 100%;
}

#new-food input[type="submit"] {
    color: white;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s;
}

#new-food input[type="submit"]:active {
    background-color: gray;
}

#add-to-cart-form input[type=submit] {
    border:0px;
    background:white;
    font-size: 1em;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 10px;
}

#add-to-cart-form input[type=text] {
    width: 150px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px;
}

.all{
    color: blue
}

.less_than{
    color: green
}

.greater_than{
    color: red
}